* {
  box-sizing: border-box;
}

//error page
#errorImage {
  background-image: url(../assets/errorpage.png);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: contain;
}

//cards on index and show
#storyCard {
    background-size: cover;
    height: 100%;
    width: 100%;

}

//putting a border around the image
#storycardImage {
  border-style: solid;
  border-color: black;
  border-width: 2px;

}

//background for each genre page
.genrebackground {
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;

}


//manipulating the card
.card-content {
    margin-top: auto;
}

//hiding part of the index card on the show page
.indexHide{
  display: none
}


#storyCard:hover {
  transform: scale(1.1);
}

#imageShow {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}


//homepage image
.hero-body{
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: contain;
    
}
.hero.is-primary .title{
  color: black;
}

//background image for new story page
.newstorybg {
  background-image: url(../assets/newstory.png);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: contain;

}

//background image for login page
.loginbg {
  background-image: url(../assets/register.png);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: contain;

}

//background image for register page
.registerbg {
  background-image: url(../assets/actualreg.png);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: contain;

}

//background image for about us page
.aboutus {
  background-image: url(../assets/aboutUs.png);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: contain;

}

//story generator box for about page
#generatorBox {
  width: 500px;
  background-color: #36D1B2;
}

#aboutBox {
  opacity: 0.9;
  height: 420px;
  width: 500px;
  padding: 10px;
}


//background image for story index page
.storyIndex {
  background-image: url(../assets/background.jpg);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

}

//styling the story show page
#paddingStoryShow {
  padding: 20px;

}

#storyShowBox {
  background-color: #36D1B2;
  margin: 0px;
}

#storybox {
  margin: 0px;
  background-color: #36D1B2;
  margin-left: 120px;
}

#boxBackground {
  background-color: #36D1B2;
}


//handling my font colours
h1, h2, p, h4, #linkFont {
  color: black;
}

#root > main > div > div > section > div > div > div > div:nth-child(7) > div > div > p > a {
  color: black;
}

#titleFont, .inspirationFont {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 30px;
}
p, h1, h2, h4, h5, #triggerFont {
  font-family: 'Spartan', sans-serif;
}

.label {
  font-family: 'Spartan', sans-serif;
}

.button {
  font-family: 'Spartan', sans-serif;
  margin: 10px;
}

//profile page background
.profilebg {
  background-image: url(../assets/profilebg.png);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: contain;

}






.displayNice{
  display:flex;
  justify-content: center;
  background-color: white;
}
.cardTitle {
  text-align: center;
}


@media only screen and (max-width: 840px) {
  .column {
    width: 100%;
  }
  main {
    flex-direction: column;
  }
}

